<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate=~{site/layouts/main-layout.html}>
<head>
    
</head>

<body id="home">
    
    <div layout:fragment="content">
        <div class="product-checkout checkout-cart">
            <div id="checkout" class="main-content">
                <div class="wrap-banner">
                    <!-- breadcrumb -->
                    <nav class="breadcrumb-bg">
                        <div class="container no-index">
                            <div class="breadcrumb">
                                <ol>
                                    <li>
                                        <a th:href="@{/site/home}">
                                            <span>Trang chủ</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Thanh toán</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </nav>
                    
                    <!-- main -->
                    <div id="wrapper-site">
                        <div class="container">
                            <div class="row">
                                <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                                    <div id="main">
                                        <div class="cart-grid row">
                                            <div class="col-md-9 check-info">
                                                <div class="checkout-personal-step">
                                                    <h3 class="step-title h3 info">
                                                        <span class="step-number"></span>tHÔNG TIN Giỏ hàng
                                                    </h3>
                                                </div>
                                                <div class="cart-container">
                                                    <div class="cart-overview js-cart">
                                                        <ul class="cart-items">
                                                            <li class="cart-item" th:each="cartItem: ${cartItems}">
                                                                <div class="product-line-grid row justify-content-between">
                                                                    <!--  product left content: image-->
                                                                    <div class="product-line-grid-left col-md-2">
                                                                        <span class="product-image media-middle">
                                                                            <a th:href="@{'/site/products/productDetail/' + ${cartItem.product.productId}}">
                                                                                <img class="img-fluid"
                                                                                    th:src="@{${cartItem.product.imageUrl}}"
                                                                                    alt="Organic Strawberry Fruits">
                                                                            </a>
                                                                        </span>
                                                                    </div>
                                                                    <div class="product-line-grid-body col-md-5">
                                                                        <div class="product-line-info">
                                                                            <a class="label" th:href="@{'/site/products/productDetail/' + ${cartItem.product.productId}}"
                                                                                data-id_customization="0"
                                                                                th:text="${cartItem.product.productName}">Organic
                                                                                Strawberry Fruits</a>
                                                                        </div>
                                                                        <div class="product-line-info product-price">
                                                                            <span class="value"
                                                                                
                                                                                th:text="${#numbers.formatDecimal(cartItem.price, 3, 'POINT',2,'COMMA')}">£20.00</span> đ
                                                                        </div>
    
                                                                    </div>
                                                                    <div
                                                                        class="product-line-grid-right text-center product-line-actions col-md-5">
                                                                        <div class="row">
                                                                            
                                                                            <div class="col-md-4 col qty input-group">
                                                                                <div class="label">Số lượng:</div>
                                                                                <div class="quantity">
                                                                                    <div style="margin-top: 25px;
                                                                                                margin-left: -60px;" 
                                                                                                th:text="${cartItem.quantity}">
                                                                                    </div>
                                                                               </div> 
                                                                        </div>
                                                                           <div class="col-md-6 col price">
                                                                                <div class="label">Tiền:</div>
                                                                                <div class="product-price total"
                                                                                    >
                                                                                    
                                                                                    <span th:text="${#numbers.formatDecimal(cartItem.price * cartItem.quantity, 3, 'POINT',2,'COMMA')}">

                                                                                    </span> đ
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="col-md-2 col text-xs-right align-self-end">
                                                                                <div class="cart-line-product-actions ">
                                                                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
    
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="checkout-personal-step">
                                                    <h3 class="step-title h3 info">
                                                        <span class="step-number"></span>tHÔNG TIN giao hàng
                                                    </h3>
                                                </div>
                                                <div class="content">
                                                    
                                                    <div class="tab-content">
                                                        <div class="tab-pane fade in active show" id="checkout-guest-form" role="tabpanel">
                                                            <form th:action="@{/site/shoppingCart/checkout}" id="customer-form" class="js-customer-form" method="post" th:object="${order}">
                                                                <div>
                                                                    <input type="hidden" name="id_customer" value="">
                                                                    <div class="form-group row">
                                                                        <input readonly class="form-control" name="firstname" type="text" placeholder="Họ tên" th:field="*{user.fullname}">
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <input readonly class="form-control" name="email" type="email" placeholder="Email" th:field="*{user.email}">
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <input readonly class="form-control" name="phone" type="text" placeholder="Số điện thoại" th:field="*{user.phone}">
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <input class="form-control" name="address" type="text" placeholder="Địa chỉ nhận hàng" th:field="*{orderAddress}">
                                                                    </div>
                                                                    
                                                                    
                                                                    
                                                                </div>
                                                                
                                                                <div class="clearfix">
                                                                    <div class="row">
                                                                        <a th:href="@{/site/shoppingCart}"
                                                                            class="continue btn btn-primary pull-xs-right">
                                                                            về giỏ hàng
                                                                        </a>
                                                                        <span class="ml-1"></span>
                                                                        <button class="continue btn btn-primary pull-xs-right" name="continue" data-link-action="register-new-customer" type="submit"
                                                                            value="1">
                                                                            Đặt hàng
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="cart-grid-right col-xs-12 col-lg-3">
                                                <div class="cart-summary">
                                                    <div class="cart-detailed-totals">
                                                        <div class="cart-summary-products">
                                                            <div class="summary-label">Có [[${totalCartItems}]] sản phẩm trong giỏ hàng của bạn
                                                            </div>
                                                        </div>
                                                        <div class="cart-summary-line" id="cart-subtotal-products">
                                                            <span class="label js-subtotal">
                                                                Tổng tiền:
                                                            </span>
                                                            <span class="value"
                                                            th:text="${#numbers.formatDecimal(totalAmount, 3, 'POINT',2,'COMMA')}">£200.00</span> đ
                                                        </div>
                                                        <div class="cart-summary-line" id="cart-subtotal-shipping">
                                                            <span class="label">
                                                                Phí vận chuyển:
                                                            </span>
                                                            <span class="value">50.000,00 đ</span>
                                                            <div>
                                                                <small class="value"></small>
                                                            </div>
                                                        </div>
                                                        <div class="cart-summary-line cart-total">
                                                            <span class="label">Tổng:</span>
                                                            <span class="value"
                                                            th:text="${#numbers.formatDecimal(totalAmount + 50000, 3, 'POINT',2,'COMMA')}" >£200.00</span> đ
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="block-reassurance">
                                                    <ul>
                                                        <li>
                                                            <div class="block-reassurance-item">
                                                                <img th:src="@{/site/img/product/check1.png}"
                                                                    alt="Security policy (edit with Customer reassurance module)">
                                                                <span>Chính sách bảo mật (Thông tin cá nhân của bạn sẻ được
                                                                    bảo đảm an toàn)</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="block-reassurance-item">
                                                                <img th:src="@{/site/img/product/check2.png}"
                                                                    alt="Delivery policy (edit with Customer reassurance module)">
                                                                <span>Chính sách giao hàng (Thanh toán khi nhận được sản
                                                                    phẩm và kiểm tra)</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="block-reassurance-item">
                                                                <img th:src="@{/site/img/product/check3.png}"
                                                                    alt="Return policy (edit with Customer reassurance module)">
                                                                <span>Chính sách hoàn tiền (đảm bảo sự hài lòng của khách
                                                                    hàng)</span>
                                                            </div>
    
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>