<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate=~{admin/main-layout.html}>

<head>

</head>

<body>
	<div layout:fragment="content">
		<div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Quản lý người dùng</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a th:href="@{/admin/home}">Trang chủ </a></li>
									<li class="breadcrumb-item active" aria-current="page">Quản lý người dùng</li>
								</ol>
							</nav>
						</div>

					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-8">
							
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="form-group row">
								<div class="col-sm-12 col-md-10">
									<form th:action="@{/admin/users/page/1}">
										<div class="form-inline float-left" style="margin-top: 10px;">
											<input class="form-control" placeholder="Tìm kiếm" type="hidden"
												style="width: 60%; display: block;" name="sortField"
												th:value="${sortField}">
											<input class="form-control" placeholder="Tìm kiếm" type="hidden"
												style="width: 60%; display: block;" name="sortDir"
												th:value="${sortDir}">
											<input class="form-control" placeholder="Tìm kiếm" name="keyword"
												type="text" th:value="${keyword != 'null' ? keyword : ' '}"
												style="width: 60%; display: block;">
											<button class="form-control btn btn-primary" type="submit">Tìm kiếm</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-box mb-30">

					<div class="pd-20" style="display: block;text-align: center;">
						<h4 class="text-blue h4 justify-content-center">Danh sách người dùng</h4>
					</div>
					<div class="pb-20">
						<table class=" table stripe hover nowrap">
							<thead>
								<tr>
									<th style="color: blue;">
										<a th:href="@{'/admin/users/page/1'}
												+ '?sortField=userId&sortDir=' +${reverseSortDir} +${keyword != null ? '&keyword='+keyword : ''}">
											ID
											<span th:if="${sortField} == 'userId'">
												<i th:if="${sortDir} == 'asc'" class="icon-copy fa fa-arrow-down"
													aria-hidden="true"></i>
												<i th:if="${sortDir} == 'desc'" class="icon-copy fa fa-arrow-up"
													aria-hidden="true"></i>
											</span>
											<!-- <i class="icon-copy fa" th:classappend = "${sortField} == 'productId' && ${sortField} == 'desc'? fa-arrow-down : fa-arrow-up" aria-hidden="true"></i> -->										
										</a>
									</th>
									<th style="color: blue;">
										<a th:href="@{'/admin/users/page/1'}
												+ '?sortField=fullname&sortDir=' +${reverseSortDir} +${keyword != null ? '&keyword='+keyword : ''}">
											Họ tên 
											<span th:if="${sortField} == 'fullname'">
												<i th:if="${sortDir} == 'asc'" class="icon-copy fa fa-arrow-down"
													aria-hidden="true"></i>
												<i th:if="${sortDir} == 'desc'" class="icon-copy fa fa-arrow-up"
													aria-hidden="true"></i>
											</span>
											<!-- <i class="icon-copy fa" th:classappend = "${sortField} == 'productId' && ${sortField} == 'desc'? fa-arrow-down : fa-arrow-up" aria-hidden="true"></i> -->										
										</a>
									</th>
									<th style="color: blue;">
										<a th:href="@{'/admin/users/page/1'}
												+ '?sortField=email&sortDir=' +${reverseSortDir} +${keyword != null ? '&keyword='+keyword : ''}">
											Email
											<span th:if="${sortField} == 'email'">
												<i th:if="${sortDir} == 'asc'" class="icon-copy fa fa-arrow-down"
													aria-hidden="true"></i>
												<i th:if="${sortDir} == 'desc'" class="icon-copy fa fa-arrow-up"
													aria-hidden="true"></i>
											</span>
											<!-- <i class="icon-copy fa" th:classappend = "${sortField} == 'productId' && ${sortField} == 'desc'? fa-arrow-down : fa-arrow-up" aria-hidden="true"></i> -->										
										</a>
									</th>
									<th style="color: blue;">
										<a th:href="@{'/admin/users/page/1'}
												+ '?sortField=phone&sortDir=' +${reverseSortDir} +${keyword != null ? '&keyword='+keyword : ''}">
											Số điện thoại
											<span th:if="${sortField} == 'phone'">
												<i th:if="${sortDir} == 'asc'" class="icon-copy fa fa-arrow-down"
													aria-hidden="true"></i>
												<i th:if="${sortDir} == 'desc'" class="icon-copy fa fa-arrow-up"
													aria-hidden="true"></i>
											</span>
											<!-- <i class="icon-copy fa" th:classappend = "${sortField} == 'productId' && ${sortField} == 'desc'? fa-arrow-down : fa-arrow-up" aria-hidden="true"></i> -->										
										</a>
									</th>
									<th class="">Vai trò</th>
									<th style="color: blue; max-width: 150px;">
										<a th:href="@{'/admin/users/page/1'}
												+ '?sortField=address&sortDir=' +${reverseSortDir} +${keyword != null ? '&keyword='+keyword : ''}">
											Địa chỉ
											<span th:if="${sortField} == 'address'">
												<i th:if="${sortDir} == 'asc'" class="icon-copy fa fa-arrow-down"
													aria-hidden="true"></i>
												<i th:if="${sortDir} == 'desc'" class="icon-copy fa fa-arrow-up"
													aria-hidden="true"></i>
											</span>
											<!-- <i class="icon-copy fa" th:classappend = "${sortField} == 'productId' && ${sortField} == 'desc'? fa-arrow-down : fa-arrow-up" aria-hidden="true"></i> -->										
										</a>
									</th>
									<th style="color: blue;">
										<a th:href="@{'/admin/users/page/1'}
												+ '?sortField=status&sortDir=' +${reverseSortDir} +${keyword != null ? '&keyword='+keyword : ''}">
												Trạng thái
											<span th:if="${sortField} == 'status'">
												<i th:if="${sortDir} == 'asc'" class="icon-copy fa fa-arrow-down"
													aria-hidden="true"></i>
												<i th:if="${sortDir} == 'desc'" class="icon-copy fa fa-arrow-up"
													aria-hidden="true"></i>
											</span>
											<!-- <i class="icon-copy fa" th:classappend = "${sortField} == 'productId' && ${sortField} == 'desc'? fa-arrow-down : fa-arrow-up" aria-hidden="true"></i> -->										
										</a>
									</th>
									
									<th class="">Hành động</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user : ${listUsers}">
									<td th:text="*{user.userId}">25</td>
									<td th:text="*{user.fullname}">Sagittarius</td>
									<td th:text="*{user.email}">25@gmial.com</td>
									<td th:text="*{user.phone}">0123456789</td>
									<td th:text="*{user.roleName}">Nhân viên</td>
									<td th:text="*{user.address}" style="max-width: 150px;">2829 Trainer Avenue Peoria, IL 61602</td>
									<td >
										<span th:if="*{user.status == 1}">Hoạt động</span>
										<span th:if="*{user.status == 0}">Khóa</span>
									</td>
									<td>
										<div class="dropdown">
											<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
												href="#" role="button" data-toggle="dropdown">
												<i class="dw dw-more"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">

												<a class="dropdown-item" th:href="@{'/admin/users/update/' + ${user.userId}}"><i class="dw dw-edit2"></i> Chỉnh
													sửa</a>
												<a sec:authorize="hasAnyAuthority('ADMIN')" onclick="return confirm('Bạn muốn xóa người dùng ?');" class="dropdown-item" th:href="@{'/admin/users/delete/' + ${user.userId}}"><i class="dw dw-delete-3"></i>Xóa</a>
											</div>
										</div>
									</td>
								</tr>
								
							</tbody>

						</table>
						<div class="ml-2">
							<div>
								Trang <strong>[[${currentPage}]]</strong> trong tổng số [[${totalPages}]] trang.
							</div>
							<div>
								Tổng số người dùng: [[${totalItems}]].
							</div>
						</div>
						<div>
							<nav aria-label="..." class="">
								<ul class="pagination justify-content-center">
									<li class="page-item ">
										<a th:if="${1 < currentPage}" class="page-link"
											th:href="@{'/admin/users/page/1'} 
											+ '?sortField=' +${sortField} + '&sortDir=' +${sortDir} +${keyword != null ? '&keyword='+keyword : ''}">Đầu</a>
										<!-- <span th:unless="${1 < currentPage}" class="page-link">Đầu</span> -->
									</li>
									<li class="page-item ">
										<a th:if="${1 < currentPage}" class="page-link"
											th:href="@{'/admin/users/page/' + ${currentPage - 1}} 
											+ '?sortField=' +${sortField} + '&sortDir=' +${sortDir} +${keyword != null ? '&keyword='+keyword : ''}">Trước
										</a>
										<!-- <span th:unless="${1 < currentPage}" class="page-link">Trước</span> -->
									</li>
									<li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}">
										<a th:if="${i != currentPage}" class="page-link" style="display: inline-block;"
											th:href="@{'/admin/users/page/' +${i}} + '?sortField=' +${sortField} + '&sortDir=' +${sortDir} +${keyword != null ? '&keyword='+keyword : ''}">[[${i}]]
										</a>
										<span th:unless="${i != currentPage}" class="page-link">[[${i}]]</span>
									</li>
									<li class="page-item ">
										<a th:if="${totalPages >= currentPage + 1}" class="page-link"
											th:href="@{'/admin/users/page/' 
											+ ${currentPage + 1}} + '?sortField=' +${sortField} + '&sortDir=' +${sortDir} +${keyword != null ? '&keyword='+keyword : ''}">Tiếp</a>
										<!-- <span th:unless="${totalPages > currentPage + 1}" class="page-link">Tiếp</span> -->
									</li>
									<li class="page-item">
										<a th:if="${totalPages > currentPage}" class="page-link"
											th:href="@{'/admin/users/page/' + ${totalPages}} 
											+ '?sortField=' +${sortField} + '&sortDir=' +${sortDir} +${keyword != null ? '&keyword='+keyword : ''}">Cuối</a>
										<!-- <span th:unless="${totalPages > currentPage}" class="page-link">Cuối</span> -->
									</li>
								</ul>
							</nav>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>

</html>